.recentBuzz {
    border: 1px solid black;
}

.recentBuzz .caption {
    border-bottom: 1px solid black;
    background: #EBEBEC;
    width: 97%;
    padding: 10px;
    font-weight: bold;
}

.recentBuzz .posts {
    content: '';
    display: table;
    padding: 0px 40px;
    background-color: white;
}

.posts {
    padding: 20px;
    position: relative;
}

.recentBuzz .posted-image {
    margin: 20px;
    float: right;
    display: block;
    width: 250px;
}

.recentBuzz .like-dislike {
    float:right;
    padding: 2px;
    text-align: center;
    width: 5%;
    border-radius: 5px;
}

.recentBuzz .like-dislike img {
    width: 50%;
}


.recentBuzz .comment {
    clear: both;
    width: 100%;
    display: block;
}

.recent-buzz-body {
    border : 1px solid black;
}

.recentBuzz-footer button {

}

.category {
    top: 0%;
    position: absolute;
    width: 15%;
    float: right;
    border: 1px solid black;
    /* margin-top: 17px; */
    background-color: bisque;
    right: 0%;
}

.user_imageurl {
    padding-top: 11px;
    display: block;
}

.user_email {

}

.likecount{
    float: right;
}
.dislikecount {
    float: right;
}

ul li a:hover{
    color: #fff;
    background: #939393;
}
ul li ul.dropdown{
     /* Set width of the dropdown */
    background: #f2f2f2;
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
}
ul li:hover ul.dropdown{
    display: block;	/* Display the dropdown */
}
ul li ul.dropdown li{
    display: block;
}

.delete {
    float: right;
}

.edit {
    float: right;
}

.recentBuzz .comments {
    border: 1px solid black;
    padding:20px;
}

.recentBuzz .comment {
    clear: both;
    width: 90%;
    display: inline-block;
}

.recentBuzz  .addComment {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.submitComment {
    float: right;
    width: 60px;
}

.btnlikes {
    margin: 10px 118px;
    content: '';
    display: table;
    clear: both;
}

.content {
    width: 63%;
    /* text-align: center; */
    margin: 10% 0%;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.recentBuzz .dropdown {
    position: relative;
    display: inline-block;
    float: right;
}

.recentBuzz .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.recentBuzz .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.recentBuzz .dropdown-content a:hover {background-color: #f1f1f1}

.recentBuzz .dropdown:hover .dropdown-content {
    display: block;
}

.recentBuzz .dropdown:hover .dropbtn {
    background-color:  #424242;
}

.like-dislike-btn{
    background-color: blue;
    /* text-align: center; */
    padding: 35% 35%;
    /* line-height: 2; */
    color: white;
    /* padding: 15px 10px; */
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}

.more {
float:right;
width:5%;
}

.recentBuzz my-container {
    width: 80%;
}

.delete{
    width: 4%;
}

.comments-image {
    width: 10%;
}